<?xml version="1.0"?>
<launch>
	<arg name="vicon_bridge" default="true" />
	<arg name="world_name" default="worlds/empty.world" /> <!-- test_zone.sdf, test_zone_pick_place.sdf -->
	<arg name="moveit" default="true"/>
  	  
	<!-- Navigation using Vicon bridge -->
	<group if="$(arg vicon_bridge)">
    	<!-- Vicon bridge emulator -->
		<include file="$(find test_ur5_common_bringup)/launch/vicon_bridge.launch">
	    </include>
	</group>
	
	
	<!-- Moveit -->
	<group if="$(arg moveit)">
		<include file="$(find ur5_robotiq85_moveit_config)/launch/ur5_robotiq85_moveit_planning_execution.launch" >
		</include>
	</group>

		<include file="$(find test_ur5_common_bringup)/launch/gripper_server.launch">
                <arg name="sim" value="false"/>
                </include>


</launch>
