<?xml version="1.0"?>

<launch>
	<!-- Octomap -->
	<node name="octomap_server" pkg="octomap_server" type="octomap_server_node" clear_params="true" required="true">
		<remap from="cloud_in" to="/head_camera/depth_downsample/points" />
		<param name="frame_id" value="/map"/>
		<param name="resolution" value="0.05"/>
		<param name="base_frame_id" value="base_link"/>
	</node>
</launch>
